<div class="map-container" map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map zoom="11" default-style="false">
        <marker ng-repeat="message in messages" position="{{getPosition(message)}}" title="{{message.time}}" opacity="{{markerOpacity(message)}}" icon="{{markerIcon(message)}}"></marker>
<!--        <shape id="circle" name="circle" centered="true" stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2" center="current-position" radius="4000" editable="true" fill-opacity="0.15"></shape>-->
    </ng-map>
    <div class="filter-container">
        <button ng-class="{ btn:true, 'btn-primary':!filter, 'btn-success':filter, filter:true }" ng-click="toggleFilter()">Filter</button>
    </div>
</div>
<div class="container-fluid">
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in messages | filter:filterByPosition track by $index" ng-click="selectMessage(m)" ng-class="{ message:true, info:(activeMessageId===m.$id) }" ng-mouseover="highlightMessage(m)" ng-mouseleave="removeHighlight()">
                <td>{{this.$index + 1}}</td>
                <td>{{ m.latitude }}</td>
                <td>{{ m.longitude }}</td>
                <td>{{ m.time }}</td>
                <td>
                    <button class="btn btn-danger ack" ng-click="acknowledgeMessage(m);" ng-hide="m.acknowledged">Acknowledge</button>
                    <button class="btn btn-success ack" ng-show="m.acknowledged">Acknowledged</button>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-share"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" ng-click="deleteMessage(m, $event)"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
