<br>
<div map-lazy-load="https://maps.google.com/maps/api/js" ng-controller="SampleCtrl">
   <ng-map zoom="11" center="52.2028002, 0.1244104">
     <marker ng-repeat="message in messages"
        position="{{message.position}}"
        title="{{message.time}}"></marker>
       <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2"
      center="current-position" radius="4000" editable="true" ></shape>
  </ng-map>
</div>
<table id="table" class="table table-striped" ng-controller="SampleCtrl">
  <thead>
    <tr>
      <th>#</th>
      <th>Device ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Time</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="message in messages track by $index">
      <td>{{this.$index + 1}}</td>
      <td>{{ message.id }}</td>
      <td>{{ message.longitude }}</td>
      <td>{{ message.lattitude }}</td>
      <td>{{ message.time }}</td>
      <td>
        <button class="btn btn-danger ack" ng-click="toggleColor();">Acknowledge</button>
      </td>
      <td>
        <a href="#">Share</a>
      </td>
      <td>
        <span class="remove glyphicon glyphicon-remove" ng-click="remove()"></span>
      </td>
    </tr>
  </tbody>
</div>